@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");

body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7f9;
  background: url("https://res.cloudinary.com/alamesa/image/upload/v1611511032/UI/background_z19wum.jpg");
  background-repeat: repeat;
}

code {
  font-family: "Montserrat Alternates", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

input,
textarea,
button {
  font-family: "Montserrat Alternates", sans-serif;
}
